/* General Styles */
body {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}


#display {
    font-size: 4rem;
    margin: 25px;
    margin-top: 100px;
    margin-bottom: 10px;
    opacity: 30%;
    transition: 1s ease;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    border: none;
    padding: 20px 0;
    padding-bottom: 0px;
    min-width: 500px;
    transition: 0.5s ease;
    }


#containerInstructions {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 150px; /* Prevent the container from growing too tall */
    position: relative; /* Ensure it doesn't overlap other elements */
    z-index: 1; /* Prevent stacking issues */
    border: none;
    margin-top: 60px;
    margin-bottom: 5px;
    padding: 20px 0;
    min-width: 365px;
    
}

#controls button {
    font-size: 1.5rem;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    transition: background-color 0.4s ease;
    padding: 10px 20px;
    margin: 5px;
    margin-bottom: 100px;
    min-width: 100px;
}




h3 {
    font-size: 1.5rem;
    margin: 12px 0;
}

p {
    font-size: 1rem;
    margin: 12px 0;
}

#myH1 {
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 5px;
    margin-top: 70px;
}

#myH2 {
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px 0;
    margin-bottom: 20px;
}

#step1 {
    font-size: 2rem;
    transition: 0.5s ease;

}

#step2 {
    font-size: 1.2rem;
    opacity: 40%;
    transition: 0.5s ease;
}

.hiddenSteps {
    font-size: 0.4rem;
    transition: 0.5s ease;
    opacity: 0%;
}    

#placeholder1 {
    font-size: 0.4rem;
    transition: 0.5s ease;
    opacity: 0%;
}

#placeholder2 {
    font-size: 1.2rem;
    transition: 0.5s ease;
    opacity: 0%;
}

#placeholder2 {
    font-size: 1.2rem;
    transition: 0.5s ease;
    opacity: 0%;
}

#placeholder2 {
    font-size: 0.4rem;
    transition: 0.5s ease;
    opacity: 0%;
}




#startBtn {
    background-color: green;
}

#startBtn:hover {
    background-color: rgb(0, 170, 0);
}

#stopBtn {
    background-color: rgb(173, 0, 0);
}

#stopBtn:hover {
    background-color: rgb(249, 0, 0);
}

#resetBtn {
    background-color: rgb(71, 71, 71);
}

#resetBtn:hover {
    background-color: rgb(107, 107, 107);
}





    
    


